#.gitignore

#The .terraform directory
.terraform/*

#The tf state file and other backup files
*.tfstate
*.tfstate.*

#Private key file
*.pem#.gitignore


#Public key
*.pub

#Private key
*Terraform-Azure

#Public key
*avmazurekey.pub
